.photo-grid {
  display: flex;
  justify-content: center;
  margin: 0 0px 92px 0px;
}

.photo-grid__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

@media screen and (max-width: 1000px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
    padding: 0;
    gap: 16px;
    margin: 90px 0 0 0;
    max-width: 720px;
  }

  .photo-grid__item {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    margin: 0 0 62px 0;
  }

  .photo-grid__list {
    grid-template-columns: 288px;
    gap: 12px;
  }

  .photo-grid__item {
    width: 288px;
  }
}
