.photo-grid {
  margin: 0 0px 92px 0px;
}

.photo-grid__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  justify-content: center;
  grid-gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 352px);
    padding: 0;
    margin: 90px 0 0 0;
  }

  .photo-grid__item {
    width: 353px;
  }
}

@media screen and (max-width: 512px) {
  .photo-grid {
    margin: 0 0 62px 0;
  }

  .photo-grid__list {
    grid-template-columns: 288px;
    grid-gap: 12px;
    padding: 0;
    margin: 90px 0 0 0;
  }

  .photo-grid__item {
    width: 288px;
  }
}
